:root {
  --blue-primary: hsl(205, 42%, 45%);
  --blue-secondary: hsl(197, 93%, 29%);
  --green-primary: hsl(89, 47%, 40%);
  --green-secondary: hsl(68, 100%, 37%);
  --default: hsl(212, 60%, 95%);
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--default);
}

.app {
  width: 1200px;
  border-radius: 10px;
}

.header {
  height: 50px;
  background-color: var(--blue-secondary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  margin: 20px;
  padding-top: 5px;
  color: var(--default);
}

.todo-body {
  background-color: var(--blue-primary);
  padding-block: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h2,
h3 {
  text-align: center;
}

form {
  width: 40%;
  margin-inline: 30%;
}

#content {
  border-radius: 5px;
  width: 98%;
  margin-bottom: 10px;
}

.add-button {
  text-align: right;
  background-color: var(--green-primary);
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.form-actions {
  display: grid;
  width: 100%;
  justify-items: end;
}

.list {
  width: 40%;
  margin-inline: 30%;
}

.todo-item {
  display: flex;
  margin-block: 10px;
  background-color: var(--green-primary);
  height: 100px;
  border-radius: 10px;
}

.todo-done {
  margin-top: 35px;
  text-align: center;
  width: 20%;
  height: 20px;
}

.todo-content {
  margin-top: 35px;
  width: 80%;
  height: 20px;
  color: white;
}

.actions {
  margin: 35px 10px 0px 0px;
}

.todo-text {
  width: 85%;
}

.delete {
  background-color: red;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
